@use './tokens' as tokens;

html,
body,
#app {
  height: 100%;
  margin: 0;
}

body {
  font-family: tokens.$font-family-body;
  background: rgb(var(--v-theme-background));
  color: rgb(var(--v-theme-on-background));
}
